<div class="container-fluid d-flex justify-content-center">
  <div class="login-in-card card p-4 shadow rounded-5 text-center">
    <h1 class="text-center fw-bold " style="font-family: 'Baloo 2', cursive;">Welcome to Hirely</h1>
    <hr class="border border-primary border-1 opacity-50 mt-0">
    <h2 class="fw-bold" style="font-family: 'Baloo 2', cursive;">LOGIN</h2>
    <p class="fw-bold fs-5 text-center" style="color: #A8A8A8;">How I get started?</p>

    <app-login-form></app-login-form>

    <p class="text-center mt-2" style="color: #A8A8A8">
      <a href="#" class="text-decoration-none" style="color: #A8A8A8" [routerLink]="['/Forgot-page']">Forgot your password?</a>
    </p>


    <div class="d-flex align-items-center justify-content-center mb-5">
      <hr class="flex-grow-1 border border-primary border-1 opacity-50 mx-3 login-divider" />

      <hr class="flex-grow-1 border border-primary border-1 opacity-50 mx-3 fw-bold login-divider" />
    </div>



    <p class="text-muted mt-4">
      Don't have an account? <a class="fw-semibold text-decoration-none" [routerLink]="['/Sign']">Sign up</a>
    </p>
  </div>
</div>
