<div class="container my-5">
  <h2 class="mb-4">Top-Rated Artisans</h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="profile">
        <h5>Plumbing</h5>
        <p>Daryl | Bari, CA</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile">
        <h5>Electrical</h5>
        <p>DIYram | Calipenty, CA</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile">
        <h5>Painting</h5>
        <p>Painter | Miami, FL</p>
      </div>
    </div>
  </div>
</div>
