<div class="card p-4 shadow rounded-5 text-center" style="width: 95rem; z-index: 1; height: 49rem;">
  <h1 class="text-center fw-bold" style="font-family: 'Baloo 2', cursive;">Welcome to Hirely</h1>
  <hr class="border border-primary border-1 opacity-50 mt-0">
  <h1 class="text-center fw-bold" style="font-family: 'Baloo 2', cursive;">SIGN IN</h1>
  <p class="text-center bold" style="font-size: larger">What do you want to do?</p>
  <div class = "row container justify-content-center" style="margin-left: 5rem">
  <div class=" col col-lg-2 ms-0">
    <input class="form-check-input shadow border border-black" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
    <label class="form-check-label bold " for="exampleRadios1" style="margin-left: 1rem">
      i wanna work
    </label>
  </div>
  <div class=" col col-lg-2 ms-0">
    <input class="form-check-input shadow border border-black" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label bold" for="exampleRadios2" style="margin-left: 1rem">
      i wanna hire
    </label>
  </div>
  <div class=" col col-lg-2 ms-0">
    <input class="form-check-input shadow border border-black" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
    <label class="form-check-label bold " for="exampleRadios3" style="margin-left: 1rem">
      im an Admin
    </label>
  </div>
  </div>
  <app-sign-in-form></app-sign-in-form>
  <div class="d-flex align-items-center justify-content-center mt-3 mb-4">
    <hr class="flex-grow-1 border border-primary border-1 opacity-50 mx-3" style="max-width: 39rem;" />
    <span class="text-muted fs-4" style="color: #000000">Sign in with others</span>
    <hr class="flex-grow-1 border border-primary border-1 opacity-50 mx-3 fw-bold" style="max-width: 39rem;" />
  </div>
  <app-social-sign-in></app-social-sign-in>


<p class="text-muted mt-4">
  Already have an account? <a href="#" class="fw-semibold text-decoration-none" [routerLink]="''">Login</a>
</p>
</div>
