<div class="container mt-5">
  <h4 class="fw-bold  ">Listed Jobs:</h4>
</div>

<div class = "container">
  <app-jop-list [jobs]="[yourActiveBidJobsArray]" [showSearchBar]="false"  [jobsPerPage]="6"></app-jop-list>
</div>

<div class = "text-center">
  <button [routerLink]="['/Sign']" class="btn custom-login-btn px-4 py-2" *ngIf="showButtonBar">Browse All Jobs </button>
  <button [routerLink]="['./job-list']" class="btn custom-login-btn px-4 py-2 mb-1" *ngIf="!showButtonBar">Browse All Jobs </button>
</div>
