<div class="container hero-section">
  <div class="row align-items-center">
    <div class="col-md-6 hero-text">
      <div class="ms-5">
        <h1>Find Trusted Technicians & Get the Job Done</h1>
        <p>Find Jobs, Bid Smart, and Build Your Reputation</p>
        <div class="d-flex gap-3 mt-4">
          <button [routerLink]="['./job-list']" class="btn custom-login-btn px-4 py-2">Browse Jobs </button>
          <button [routerLink]="['./profile']" class="btn outline px-4 py-2">Update Profile</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="/assets/hero%20Image%20Apr%2020,%202025,%2002_19_37%20PM.png" alt="Technician Illustration" class="img-fluid"/>
    </div>
  </div>
</div>
