<div class="job-card d-flex justify-content-between align-items-center p-3 rounded-3 shadow-sm mb-3">
  <div class="d-flex align-items-center animate-zoom">
    <div class="avatar fw-bold rounded-circle me-3 d-flex justify-content-center align-items-center">
      B
    </div>
    <a class="mb-0 link-underline link-underline-opacity-0 me-lg-5" 
       style="color: black; font-size: 20px; font-weight: 600;" 
       [routerLink]="['/jobOwner/freelancers', freelancerId]">
      {{ name }}
    </a>
    <div class="d-flex flex-column  ms-lg-5 ">
      <span class="p-1"><strong>Bid Date:</strong> {{ date }}</span>
      <span class="p-1"><strong> Time Line:</strong> {{ work_time_line }}</span>
      <span class="p-1"><strong> Amount:</strong> {{ bid_amount }}</span>
    </div>
  </div>

  <div class="animate-zoom">
    <a [routerLink]="['/jobOwner/chat', freelancerId]" routerLinkActive="active-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
           class="bi bi-people-fill" viewBox="0 0 512 512">
        <path d="M64 0C28.7 0 0 28.7 0 64L0 352c0 35.3 28.7 64 64 64l96 0 0 80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416 448 416c35.3 0 64-28.7 64-64l0-288c0-35.3-28.7-64-64-64L64 0z" />
      </svg>
    </a>
  </div>

  <div class="d-flex gap-3 align-items-center">
    <ng-container *ngIf="status === 'pending'; else statusLabel" class="animate-zoom">
      <button class="btn btn-success" [disabled]="!canEdit" (click)="approve()">Approve</button>
      <button class="btn btn-danger" [disabled]="!canEdit" (click)="reject()">Reject</button>
    </ng-container>

    <ng-template #statusLabel>
      <span class="badge" [ngClass]="{
  'bg-success': status === 'accepted',
  'bg-danger': status === 'rejected'
}">
  {{ status === 'accepted' ? 'Approved' : status | titlecase }}
</span>

    </ng-template>

  <!-- modal button -->
  <button *ngIf="status === 'accepted' && jobStatus === 'completed'" class="badge border-0 bg-secondary  " style="cursor: pointer;" (click)="showModal = true">Rating here</button>
  <div class="modal-backdrop fade show" *ngIf="showModal"></div>

  </div>
</div>
<!-- rating modal -->
<div class="modal fade show d-block animate-zoom" tabindex="-1" role="dialog" *ngIf="showModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title">Freelancer work rating</h5>
        <button type="button" class="btn-close" (click)="showModal = false"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitRating()">
          <div class="mb-3">
            <label>Rating</label>
              <div>
              <ng-container *ngFor="let star of [1,2,3,4,5]">
                <i 
                  class="fa-star"
                  [ngClass]="ratingValue >= star ? 'fas text-warning' : 'far text-muted'"
                  (click)="setRating(star)"
                  style="cursor: pointer; font-size: 1.5rem; margin-right: 5px;">
                </i>
              </ng-container>
            </div>
          </div>
          <div class="mb-3">
            <label>Comment (optional)</label>
            <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit rating</button>
        </form>
      </div>
    </div>
  </div>
</div>