<div class="card shadow-sm rounded-4 p-3 h-100">
  <div class="d-flex justify-content-between align-items-start">
    <div>
      <h5 class="fw-bold mt-1">{{ job.title }}</h5>
      <p class="fw-semibold salary">{{ job.salary }}</p>
    </div>
    <div>
      <!-- <img [src]="job.logoUrl" width="40" class="rounded-circle" /> -->
    </div>
  </div>
  <p class="text-muted small">{{ job.description }}</p>
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-sm rounded-pill px-3 s-btn" [routerLink]="['../job-details', job.id]" *ngIf="showSearchBar">
      More Details
    </button>
    <span class="text-muted small">{{ job.location }}</span>
  </div>
</div>

