<!-- <header>Your Job Bids</header>
<div *ngFor="let bid of bids">
  <app-job-bid
    [name]="bid.freelancer ? (bid.freelancer.firstname + ' ' + bid.freelancer.lastname) : 'Unknown Freelancer'"
    [date]="bid.Bid_Date | date:'yyyy-MM-dd'"
    [bidId]="bid.id"
    [freelancerId]="bid.Freelancer_id"
    [jobId]="job.id"
    [canEdit]="true"
    [status]="bid.status"
    [jobStatus]="job.status"
    [isRated]="bid.isRated"
    (approveBid)="approveBid($event)"
    (delete)="rejectBid($event)"
  ></app-job-bid>
</div>
 -->
<header>Your Job Bids</header>

<div *ngFor="let bid of bids">
  <app-job-bid
    [name]="bid.freelancer ? (bid.freelancer.firstname + ' ' + bid.freelancer.lastname) : 'Unknown Freelancer'"
    [date]="bid.Bid_Date | date:'yyyy-MM-dd'"
    [bidId]="bid.id"
    [freelancerId]="bid.Freelancer_id"
    [jobId]="job.id"
    [canEdit]="true"
    [status]="bid.status"
    [jobStatus]="job.status"
    [isRated]="bid.isRated"
    (approveBid)="approveBid($event)"
    (delete)="rejectBid($event)"
  ></app-job-bid>
</div>
