<div class="container hero-section">
  <div class="row align-items-center">
    <div class="col-md-6 hero-text">
      <div class="ms-5">
        <h1>Find Trusted Technicians & Get the Job Done</h1>
        <p>Post a job, get bids from skilled artisans, and manage everything in one place.</p>
        <div class="d-flex gap-3 mt-4">
          <button [routerLink]="['/PostPage']" class="btn custom-login-btn px-4 py-2">Post a Job</button>
          <button class="btn outline px-4 py-2"[routerLink]="['/OwnerJobs']" >Browse your jobs </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="/assets/owner%20Image%20Apr%2020,%202025,%2002_33_23%20PM.png" alt="Technician Illustration" class="img-fluid"/>
    </div>
  </div>
</div>
