.custom-forgot-btn {
  background-color: #4e36e2 !important;
  color: white !important;
  border: none !important;
}

.custom-forgot-btn:hover {
  transition: 0.5s all ease;
  background-color: #3e2bb4 !important;
}
.svg{
  margin-left: 5rem;
}




@media (min-width: 769px) and (max-width: 1279px) {
  .card {
    width: 60rem;
    height: auto;
  }

  .custom-forgot-btn {
    width: 60%;
  }

  .form-control {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .card {
    width: 90% !important;
    padding: 2rem 1rem;
  }

  .custom-forgot-btn {
    width: 100%;
  }

  .form-control {
    font-size: 0.9rem;
    padding-left: 2.5rem;
  }

  svg {
    left: 8px !important;
  }
}


@media (max-width: 480px) {
  .form-control {
    font-size: 0.85rem;
  }

  svg {
    height: 16px;
    width: 16px;
  }

  .custom-forgot-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .form-check-label {
    font-size: 1.1rem;
  }
  .card{
    width: 95rem;
    z-index: 1;
    height: 49rem;
  }
  .title{
    margin-top: 2rem;
  }
}
