.custom-forgot-btn {
  background-color: #4e36e2 !important;
  color: white !important;
  border: none !important;
}

.custom-forgot-btn:hover {
  transition: 0.5s all ease;
  background-color: #3e2bb4 !important;
}
.svg{
  margin-left: 5rem;
}
