.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background:#40189D ;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .sidebar.collapsed {
    width: 70px;
  }

  .sidebar-link {
    display: block;
    color: white;
    height: 50px;
    padding-left: 15px;
  }
 

   .sidebar-item {
    font-weight: 500;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px ;
    width: 100%;
    height: 30px;
  }
   .sidebar-item :hover {
    background: white;
    color: #40189D ;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .sidebar.collapsed li :hover {
    background: white;
    color: #40189D ;
    border-radius: 30px;
    border-top-right-radius: 0px;
    line-height: 45px;
    border-bottom-right-radius: 0px;
  }

  .title {
   margin-left: 10px;
   padding: 0 10px;
   line-height: 50px;
  }
  
  footer {
    margin-top: 100px;
    align-items: center;
  }
  
  .footer-item{
    color: #a7a9ae;
    display: block;
  }
  
  .footer :hover{
    color: white;
    transition: 0.5s;
  }
  