.job-card {
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51, 0.69);
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    background: #4f1ebf;
    color: white;
  }
  
  .bids-button{
    background: #40189D;
    color: white;
    width: 70px;
  }
  .bids-button:hover{
    background: #32137a;
    color: white;
    width: 70px;
  }
  
  
@keyframes zoomFadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomFadeIn 0.6s ease forwards;
  transform-origin: center;
}
