<div class="container-fluid px-3 overflow-hidden">
  <form [formGroup]="jobForm" class="JobForm bg-body-secondary text-start rounded-5" (ngSubmit)="onSubmit()">
      <div class="row ">
        <div class="col-12 col-md-6 d-flex flex-column">
          <input id="jobTitle" type="text" formControlName="title" class="form-control ">
          <label for="jobTitle" class="form-label">Job Title</label>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
          <select id="category" formControlName="category" class="form-control ">
            <option value=""></option>
            <option value="Plumbing">Plumbing</option>
            <option value="Painting">Painting</option>
            <option value="Electrical">Electrical</option>
          </select>
          <label for="category" class="form-label">Category</label>
        </div>
      </div>
    
      <div class="row d-flex flex-column">
      <textarea id="description" formControlName="description" class="desc" placeholder="Description"></textarea>
      </div>
    
      <div class="row">
          <div class="col-12 col-md-6 d-flex flex-column">
            <input id="overview" type="text" formControlName="overview" class="form-control ">
          <label for="overview" class="form-label">Overview</label>
          </div>
          <div class="col-12 col-md-6 d-flex flex-column">
            <input id="Location" type="text" formControlName="Location" class="form-control">
            <label for="Location" class="form-label">Location</label>
          </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column">
          <input id="minBudget" type="number" formControlName="minBudget" class="form-control ">
          <label for="minBudget" class="form-label">Budget From</label>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
          <input id="maxBudget" type="number" formControlName="maxBudget" class="form-control ">
          <label for="maxBudget" class="form-label">Budget To</label>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column">
          <input id="endDate" type="date" formControlName="endDate" class="form-control ">
          <label for="endDate" class="form-label">End Date</label>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
          <select id="workLevel" formControlName="workLevel" class="form-control ">
            <option value=""></option>
            <option value="full-time">Beginner</option>
          <option value="part-time">Intermediate</option>
          <option value="freelancer">Expert</option>
          </select>
          <label for="workLevel" class="form-label">Work Level</label>
        </div>
      </div>
      
      <!-- Cancel Edit Confirmation Modal -->
      <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cancelModalLabel">Cancel Edit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to cancel your edit?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn btn-danger" (click)="confirmCancel()" data-bs-dismiss="modal">Yes, Cancel</button>
            </div>
            
          </div>
        </div>
      </div>
      <div class="attach_file ">
        <input type="file" class="form-control" (change)="onImageSelected($event)">
      </div>
      <button class="btn btn-secondary Cancel" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel</button>
      <button type="submit" class="btn btn-secondary Re-Post">Re-Post</button>

    </form>
    
  </div>