
  <div class="sign-in-card card shadow rounded-5 text-center">
    <div class = "wtt">
    <h1 class="fw-bold  title ">Welcome to Hirely</h1>
    <hr class="border border-primary border-1 opacity-50 mt-0" />
    <h2 class="fw-bold">SIGN IN</h2>
    <p class="fw-bold fs-5">What do you want to do?</p>


    <div class="d-flex justify-content-center gap-4 my-3">
      <div class="form-check d-flex align-items-center">
        <input class="form-check-input shadow border border-black" type="radio" name="exampleRadios" id="radio1" value="option1" />
        <label class="form-check-label fw-bold" for="radio1">I want to work</label>
      </div>
      <div class="form-check d-flex align-items-center">
        <input class="form-check-input shadow border border-black" type="radio" name="exampleRadios" id="radio2" value="option2" />
        <label class="form-check-label fw-bold" for="radio2">I want to hire</label>
      </div>
      <div class="form-check d-flex align-items-center">
        <input class="form-check-input shadow border border-black" type="radio" name="exampleRadios" id="radio3" value="option3" />
        <label class="form-check-label fw-bold" for="radio3">I'm an Admin</label>
      </div>
    </div>


    <app-sign-in-form></app-sign-in-form>



      <hr class="border border-primary border-1 opacity-50 mt-2" />




    <p class="text-muted mt-2 mb-2">
      Already have an account?
      <a href="#" class="fw-semibold text-decoration-none" [routerLink]="['/login']">Login</a>
    </p>

    </div>
  </div>


