.card {
  height: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
  border-color: #40189d;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(64, 24, 157, 0.2);
}
.salary {
  color: #40189d;
  font-weight: bold;
}

.s-btn {
  border-top-left-radius: 2px;
  border: solid #40189d 1px;
  color: #40189d;
  background-color: white;
}

.s-btn:hover {
  background-color: #40189d;
  color: white;
}

h2 {
    background-color: #40189D;
    color: white;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

h2 {
    background-color: #40189D;
    color: white;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
@keyframes zoomFadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomFadeIn 0.6s ease forwards;
  transform-origin: center;
}
