<div class="container mt-4">
  <h2 class="text-center mb-5" style="color: #40189d;">My Bids</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let job of myBids">
      <div class="card shadow-sm h-100">
        <!-- <img [src]="" class="card-img-top" alt="{{ job.title }}"> -->
        <div class="card-body">
          <h5 class="card-title" style="color: #40189d;">{{ job.title }}</h5>
          <p class="card-text">{{ job.description }}</p>

          <span
            class="badge"
            [ngClass]="{
              'bg-success': job.bidStatus === 'Accepted',
              'bg-danger': job.bidStatus === 'Rejected',
              'bg-warning text-dark': job.bidStatus === 'Pending'
            }"
          >
            {{ job.bidStatus }}
          </span>
        </div>
        <div class="card-footer bg-transparent">
          <button class="btn suhad-bid w-100 "[routerLink]="['../job-details', job.id]">View Job</button>
        </div>
      </div>
    </div>
  </div>
</div>
