<div class="mt-2">
  <form (ngSubmit)="onRegister()" #registerForm="ngForm" novalidate>


    <div class="d-flex justify-content-center mb-3 mt-1">
      <div class="position-relative me-2 flex-grow-1" style="max-width: 200px;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3z"/>
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <input type="text" name="firstName" [(ngModel)]="firstName"
               class="form-control px-5 py-2 rounded-pill shadow border-black"
               placeholder="First Name" required />
      </div>

      <div class="position-relative flex-grow-1" style="max-width: 200px;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3z"/>
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <input required type="text" name="secondName" [(ngModel)]="secondName"
               class="form-control px-5 py-2 rounded-pill shadow border-black"
               placeholder="Last Name" />
      </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" viewBox="0 0 512 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zM313.6 288h-14.1c-22.4
        10.3-47.3 16-75.5 16s-53.1-5.7-75.5-16h-14.1C60.2 288 0 348.2 0 422.4V464c0
        26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/>
        </svg>
        <input type="text" name="username" [(ngModel)]="username"
               class="form-control px-5 py-2 rounded-pill shadow border-black sign-input"
               placeholder="Username" required />
      </div>
    </div>


    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" viewBox="0 0 512 512">
          <path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1
        0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16h384c8.8
        0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2z"/>
        </svg>
        <input type="email" name="email" [(ngModel)]="email"
               class="form-control px-5 py-2 rounded-pill shadow border-black"
               placeholder="Email" required
               style="font-size: 0.95rem; color: #A8A8A8;" />
      </div>
    </div>


    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <select name="country" [(ngModel)]="country"
                class="form-select   rounded-pill shadow border-black" required>
          <option value="" disabled selected>Select Country</option>
          <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
        </select>
      </div>
    </div>



    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <input type="text" name="city" [(ngModel)]="city"
               class="form-control  rounded-pill shadow border-black"
               placeholder="City" required />
      </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M3.654 1.328a.678.678 0 0 1 .748.074l2.453 2.025a.678.678 0 0 1 .24.686l-.683 2.732a.678.678 0 0 1-.588.494c-.722.072-1.55.21-2.432.555a17.57 17.57 0 0 0 6.07 6.07c.345-.882.483-1.71.555-2.432a.678.678 0 0 1 .494-.588l2.732-.683a.678.678 0 0 1 .686.24l2.025 2.453a.678.678 0 0 1 .074.748c-.384.717-1.093 1.67-2.053 2.236-1.178.693-2.716.886-4.388.444-1.855-.489-3.854-1.729-5.745-3.62C1.818 9.386.578 7.387.089 5.532-.353 3.86-.16 2.322.533 1.144c.566-.96 1.519-1.669 2.236-2.053z"/>
        </svg>
        <input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber"
               class="form-control px-5 py-2 rounded-pill shadow border-black"
               placeholder="Phone Number" required />
      </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" viewBox="0 0 448 512" >
          <path d="M400 192h-24v-72C376 53.7 322.3 0 256 0S136 53.7 136 120v72H112c-26.5
        0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5
        48-48V240c0-26.5-21.5-48-48-48zM184 120c0-39.8 32.2-72 72-72s72
        32.2 72 72v72H184v-72z"/>
        </svg>
        <input type="password" name="password" [(ngModel)]="password"
               class="form-control px-5 py-2 rounded-pill shadow border-black"
               placeholder="Password" required style="font-size: 0.95rem;" />
      </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <div class="position-relative" style="max-width: 300px; width: 100%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute"
             style="left: 12px; top: 50%; transform: translateY(-50%);" height="20" width="20" viewBox="0 0 448 512" >
          <path d="M400 192h-24v-72C376 53.7 322.3 0 256 0S136 53.7 136 120v72H112c-26.5
        0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5
        48-48V240c0-26.5-21.5-48-48-48zM184 120c0-39.8 32.2-72 72-72s72
        32.2 72 72v72H184v-72z"/>
        </svg>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
               class="form-control px-5 py-2 rounded-pill shadow border-black"
               placeholder="Confirm Password" required style="font-size: 0.95rem;" />
      </div>
    </div>

    <button type="submit"
            class="btn custom-Sign-btn px-4 py-2 rounded-pill mx-auto d-block">
      Sign Up
    </button>


  </form>
</div>
